
.reason {
    max-width: 800px;
    margin: 40px auto;
    padding: 20px;
    background-color: #f8f9fa;
    border-left: 5px solid #24262b;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.reason h2 {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    color: #000;
    margin-bottom: 15px;
}
