*{
   margin: 0;
   padding: 0;
   font-family: poppins, sans-serif;
   box-sizing: border-box;
}

.main{
   width: 100%;
   margin: auto;
}

.navbar{
   width: 100%;
   height: 60px;
   position: sticky;
   z-index: 100;
   background-color: #fff;
   display: flex;
   align-items: center;
   justify-content: space-between;
}

.icon{
   width: 100px;
   height: 70px;
}

.logo{
   font-size: 25px;
   padding-left: 35px;
   padding-top: 10px;
   color: #0e309e;
}

.menu ul{
   display: flex;
   justify-content: center;
   align-items: center;
}

.menu ul li{
   list-style: none;
   margin-right: 40px;
   font-size: 18px;
}

.menu ul li a{
   text-decoration: none;
   color: #000;
   font-weight: bold;
   transition: color 0.3s ease-in-out;
}

.menu ul li:hover a{
   background-color: #0e309e;
   color: #fff;
}

.Home{
   background: linear-gradient(to top, rgba(69, 74, 83, 0.5) 0%, rgba(18, 18, 19, 0.5) 100%) ,url(car.jpeg);
   background-position: center;
   background-size: cover;
   height: 100vh;
   display: flex;
   justify-content: center;
   align-items: center;
   text-align: center;
}

.home-content {
   color: white;
   max-width: 600px;
}

.home-content h1{
   font-size: 50px;
   margin-bottom: 5px;
   font-weight: bold;
}

.home-content h4{
   font-size: 20px;
   font-weight: bold;
   margin-bottom: 20px;
}

.btn{
   display: inline-block;
   background: #0e309e;
   color: white;
   padding: 15px 20px;
   text-decoration: none;
   font-size: 25px;
   border-radius: 5px;
}

.about {
   padding: 50px 10%;
   background-color: #fff;
   text-align: center;
}

.about-heading{
   font-size: 60px;
   font-weight: bold;
   margin: 20px 0;
   text-align: center;
   text-decoration: none;
   color: #000;
}

.about-container {
   display: flex;
   align-items: center;
   justify-content: space-between;
   gap: 40px;
   max-width: 1200px;
   margin: 0 auto;
   flex-wrap: wrap;
}

.about-text {
   flex: 1;
   max-width: 50%;
   text-align: left;
}

.about-text p {
   font-size: 18px;
   line-height: 1.6;
   font-weight: bold;
   color: #000;
   margin: 0;
}

.about-image {
   flex: 1;
   max-width: 50%;
   display: flex;
   justify-content: flex-start;
   align-items: center;
}

.about-image img {
   width: 100%;
   max-width: 100%;
   height: 300px;
   border-radius: 5px;
   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}