*{
    margin: 0;
    padding: 0;
    font-family: poppins,sans-serif;
}

.main{
    width: 100%;
    background: linear-gradient(to top, rgba(0,0,0,0.5) 0%, rgba(0,0,0,0.5) 100%) ,url(car.jpeg);
    background-position: center;
    background-size: cover;
    height: 100vh;
}

 .navbar{
    width: 1200px;
    height: 75Px;
    margin: auto;
 }

 .icon{
    width: 200px;
    float: left;
    height: 70px;
 }

 .logo{
    font-size: 25px;
    padding-left: 20px;
    padding-top: 10px;
    float: left;
    
 }