*{
   margin: 0;
   padding: 0;
   font-family: poppins, sans-serif;
   box-sizing: border-box;
}

.main{
   width: 100%;
   margin: auto;
}

.navbar{
   width: 100%;
   height: 60px;
   position: sticky;
   z-index: 100;
   background-color: #fff;
   display: flex;
  
   align-items: center;
   justify-content: space-between;
}

.icon{
   width: 100px;
   height: 70px;
}

.logo{
   font-size: 25px;
   padding-left: 35px;
   padding-top: 10px;
   color: #0e309e;
}

.menu ul{
   display: flex;
   justify-content: center;
   align-items: center;
}

.menu ul li{
   list-style: none;
   margin-right: 40px;
   font-size: 18px;
}

.menu ul li a{
   text-decoration: none;
   color: #000;
   font-weight: bold;
   transition: color 0.3s ease-in-out;
}

.menu li:hover {
   background-color: #0e309e;
   color: #fff;
   padding: 10px;
}

.home{
   background: linear-gradient(to top, rgba(69, 74, 83, 0.5) 0%, rgba(18, 18, 19, 0.5) 100%) ,url(car.jpeg);
   background-size: cover;
   height: 100vh;
   display: flex;
   background-position: center;
   justify-content: center;
   align-items: center;
   text-align: center;
   flex-direction: column;
}

.home-content {
   color: white;
   max-width: 600px;
}

.home-content h1{
   font-size: 50px;
   margin-bottom: 5px;
   font-weight: bold;
}

.home-content h4{
   font-size: 20px;
   font-weight: bold;
   margin-bottom: 20px;
}

.btn{
   display: inline-block;
   background: #0e309e;
   color: white;
   padding: 15px 20px;
   text-decoration: none;
   font-size: 25px;
   border-radius: 5px;
}

.about {
   padding: 30px 5%;
   background-color: #fff;
   text-align: center;
   margin-bottom: 10px;
}

.about-heading{
   font-size: 60px;
   font-weight: bold;
   margin: 20px 0;
   text-align: center;
   text-decoration: underline;
   color: #000;
}

.about-container {
   display: flex;
   align-items: center;
   justify-content: space-between;
   gap: 40px;
   max-width: 1200px;
   margin: 0 auto;
   flex-wrap: wrap;
 
}

.about-text {
   flex: 1;
   max-width: 50%;
   text-align: left;
  
}

.a{
   font-size: 18px;
   line-height: 1.4;
   font-weight: bold;
   color: #000;
   margin: 10px opx;
}
 
.b{
   font-size: 16px;
   line-height: 1.2;
   font-weight: lighter;
   color: #000;
   margin: 10px 0px;
}

.c{
   font-size: 17px;
   line-height: 1.2;
   font-weight: bold;
   color: #000;
   margin: 0px 10px;
}

.about-image {
   flex: 1;
   width: 50%;
   display: flex;
   justify-content: flex-start;
   align-items: center;
}

.about-image img {
   width: 100%;
   height: 380px;
   border-radius: 20px;
   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.ourservices{
   padding: 30px 3%;
}
.service-heading{
   font-size: 60px;
   font-weight: bold;
   margin-top: 100px;
   text-align: center;
   text-decoration: underline;
   color: #000;
}

.ourservices h4{
   padding: 5px 10px;
   font-size: 18px;
}

.ourservices p{
   padding-left: 15px;
   font-size: 15px;
}
.service-container {
   display: flex;
   justify-content: center;
   flex-wrap: wrap;
   margin-top: 20px;
   gap: 20px;
   position: relative;
}

.cards{
   width: 15em;
   /* flex: 1 1 30%;  */
   box-sizing: border-box;
   border-radius: 6px;
   display: inline-block;
   overflow: hidden;
   text-align: center;
   position: relative;
   padding: 10px;

   margin: 5px;
   vertical-align: top;
   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
   
}

.cards:hover{
   box-shadow: 2px 2px 15px #0e309e;
}

.cards img{
   width: 100%;
   height: 120px;
   object-fit: cover;
   display: block;
   border-radius: 6px;
   }

.cards .btn{
   display: inline-block;
   padding: 8px;
   font-size: 16px;
   border-radius: 10px;
   color: #fff;
}

footer{
   width: 100%;
   position: relative;
   bottom: 0;
   background: linear-gradient(to right, #0d1949, #1a2c49);
   color: #fff;
   padding: 50px 0;
   text-align: center;
   border-top-left-radius: 125px;
   font-size: 14px;
   line-height: 20px;
}

.row{
   width: 80%;
   margin: auto;
   display: flex;
   align-items: flex-start;
   justify-content: space-between;
}

.logo{
   flex-basis: 25%;
   padding: 10px
}

.email-id{
   width: fit-content;
   margin: 25px 1;;
}

ul li{
   list-style: none;
   margin-bottom: 8px;
}

ul li a{
   text-decoration: none;
   color: #fff;
}

form{
   padding-bottom: 18px;
   display: flex;
   align-items: center;
   justify-content: space-between;
}
 
form input{
   width: 100%;
   background: transparent;
   border: 0;
   outline: none;
   
}
.col form{
   display: flex;
   flex-direction: column;
   line-height: 1.2px;
   border-bottom: 1px solid #fff;
}

.col{
   flex-basis: 25%;
   padding: 10px;
}

.col:nth-child(2), col:nth-child(3){
   flex-basis: 25%;
}
form input{
   width: 100%;
   background: transparent;
   color: #fff;
   border: 0;
   outline: none;
   margin-bottom: 13px;
}

form input .fa-solid{
   font-size: 20px;
}

.social-icons{
   padding-top: 9px;
}

.social-icons .fa-brands {
   width: 30px;
   height: 30px;
   border-radius: 50%;
   text-align: center;
   line-height: 30px;
   font-size: 15px;
   color: #0e309e;
   background: #fff;
   cursor: pointer
}

form button{
   background: transparent;
   outline: none;
   cursor: pointer;
}

form button .fa{
   font-size: 18px;
   color: #fff;
}